@model HomeViewModel
@using ES.Web.Models.Client
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Text.RegularExpressions
@inject IViewLocalizer Localizer




@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http.Features

@using Microsoft.Extensions.Options
@using System.Globalization


@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IOptions<RequestLocalizationOptions> LocOptions
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    var currentCulture = CultureInfo.CurrentCulture.Name;
    var supportedCultures = LocOptions.Value.SupportedUICultures;
    var returnUrl = Url.Content("~") + Context.Request.Path + Context.Request.QueryString;

    // Determine the culture to switch to (toggle between en-US and ar-JO)
    string targetCulture = currentCulture == "en-JO" ? "ar-JO" : "en-JO";
    // Display the opposite culture's name
    string languageTitle = currentCulture == "en-JO" ? "عربي" : "English";
    var path = Context.Request.Path.Value?.Trim('/').ToLower();
    var isHome = string.IsNullOrEmpty(path);
}

@section Styles {
  @*   <link href="~/WebSite/carouselengine/initcarousel-1.css" rel="stylesheet" type="text/css">
    <link href="~/WebSite/carouselengine/initcarousel-2.css" rel="stylesheet" type="text/css">

    <!-- gallery -->
    <link href="~/WebSite/assets/css/tipsy.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/WebSite/assets/css/litebox-home.css" rel="stylesheet" type="text/css" media="all">
 *@
   

 
}



<!--Main Slider-->
@if (Model.MainSlider.Count > 0)
{

<div id="myCarousel" class="carousel slide carousel-1" data-bs-ride="carousel">
	<div class="carousel-indicators">
		

			@foreach (var slide in Model.MainSlider.Select((s, index) => new { Slide = s, Index = index }))
			{

				<button type="button"
						data-bs-target="#myCarousel"
						data-bs-slide-to="@slide.Index"
						class="@(slide.Index == 0 ? "active" : "")"
						@(slide.Index == 0 ? "aria-current=\"true\"" : "")
						aria-label="Slide @(slide.Index + 1)">
				</button>
			}
	</div>
	<div class="carousel-inner">

			@foreach (var slide in Model.MainSlider.Select((s, index) => new { Slide = s, Index = index }))
			{
				<div class="carousel-item carousel-1 fill @(slide.Index == 0 ? "active" : "")">

					@* IMAGE / VIDEO *@
					@if (!string.IsNullOrEmpty(slide.Slide.VideoUrl))
					{
						<video class="img-responsive w-100"
							   autoplay
							   loop
							   muted
							   playsinline
							   style="object-fit:cover;">
							<source src="@slide.Slide.VideoUrl" type="video/mp4" />
						</video>
					}
					else if (!string.IsNullOrEmpty(slide.Slide.CoverImageUrl))
					{
						<img alt=""
							 src="@Url.Content("~/images/Pages/" + slide.Slide.CoverImageUrl)"
							 class="img-responsive" />
					}

					<div class="bg-h"></div>

					<div class="img-left">
						<div class="bg1"><img alt="" src="~/WebSite/images/bg1.png" /></div>
						<div class="bg2"><img alt="" src="~/WebSite/images/bg2.png" /></div>
						<div class="bg3"><img alt="" src="~/WebSite/images/bg3.png" /></div>
						<div class="bg4"><img alt="" src="~/WebSite/images/bg4.png" /></div>

						@* optional secondary image *@
						@if (!string.IsNullOrEmpty(slide.Slide.FeaturedImageUrl))
						{
							<img alt=""
								 src="@Url.Content("~/images/Pages/" + slide.Slide.FeaturedImageUrl)"
								 class="img-responsive" />
						}
					</div>

					<div class="caption-carousel">
						@Html.Raw(slide.Slide.ShortDescription)
					</div>

				</div>
			}




	


	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>


</div>
}


@if (Model.HomeWelcome.Pages.Count > 0)







{
<div class="welcome">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-6 wow bounceIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;">
				<div class="">
						<img alt="" src="/images/Pages/@Model.HomeWelcome.Pages[0].FeaturedImageUrl" class="img-responsive">
				</div>
			</div>


			<div class="col-sm-12 col-md-6 wow rotateInUpLeft animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: rotateInUpLeft;">
					<div class="titlesmall"><span>@Model.HomeWelcome.Pages[0].Title</span></div>

					@Html.Raw(Model.HomeWelcome.Pages[0].ShortDescription)
					<div><a href="@Model.HomeWelcome.Pages[0].LinkUrl" class="btn-header btn-more">@Localizer["Read More"]</a></div>
			</div>

		</div>
	</div>

</div>
}


@if (Model.HomeServices.Pages.Count > 0)







{
<div class="services">

	<div class="container-fluid wow fadeInUp animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">

		<div class="row">
			<div class="col-md-12">
				<div class="titlesmall text-center"><span> @Model.HomeServices.Name</span></div>

					<div class="title text-center">@Html.Raw(Model.HomeServices.ShortDescription)</div>


				<ul>



						@{
							var index1 = 0;
						}

						@foreach (var item in Model.HomeServices.Pages)
						{
							<li>
								<img alt="@item.FeaturedImageAltName"
									 src="images/Pages/@item.FeaturedImageUrl"
									 class="img-responsive" />

								<div class="icon">
									<img alt=""
										 src="~/WebSite/images/icon@(index1 + 1).png" />
								</div>

								<div class="title-1">
									@item.Title
								</div>

								<div class="text">
									@Html.Raw(item.ShortDescription)
								</div>

								<div>
									<a href="@item.LinkUrl" class="btn-header btn-more">
										@Localizer["Read More"]
									</a>
								</div>
							</li>

							index1++;
						}

				

				</ul>




			</div>
		</div>
	</div>
</div>
}


   @if (Model.HomeCounter.Pages.Count > 0)



                        {
<div class="counter-bg">
		<div class="bg-img-counter"><img alt="" src="images/Categories/@Model.HomeCounter.CoverImageUrl" class="img-responsive"></div>
	<div class="play-c"><img alt="" src="~/WebSite/images/Ellipse-1.png" class="img-responsive"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div>
					<nav class="level">


							@foreach (var item in Model.HomeCounter.Pages)
							{
								<div class="level-item has-text-centered">
									<div>
										<p class="title-counter  be-vietnam js-count-up" data-value="@item.Count"></p>
										<p class="heading">@item.Title </p>
									</div>
								</div>


								 

							}
						
					


					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
}

@if (Model.HomePartners.Pages.Count > 0)







{
<div class="feedback">

	<div class="container-fluid wow fadeInUp animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">

		<div class="row">
			<div class="col-md-12">
					<div class="titlesmall text-center"><span>@Model.HomePartners.Name</span></div>

				<div class="title text-center">
						@Html.Raw(Model.HomePartners.ShortDescription)
				</div>


				<ul>



					@foreach (var item in Model.HomePartners.Pages)
{
    <li>
        <img alt="@item.FeaturedImageAltName"
             src="images/Pages/@item.FeaturedImageUrl"
             class="img-responsive">

        <div class="name">HM</div>

        <div class="text">
            @Html.Raw(item.ShortDescription)
        </div>

        <div class="star">
            <b class="rating">Rating</b>

            @for (int i = 1; i <= 5; i++)
            {
                if (i <= item.Count)
                {
                    <i class="fa fa-star text-warning"></i> <!-- نجمة مملوءة -->
                }
                else
                {
                    <i class="fa fa-star-o text-muted"></i> <!-- نجمة فارغة -->
                }
            }
        </div>

        <div class="title-1">@item.Title</div>
    </li>
}

				

				







				</ul>




			</div>
		</div>
	</div>
</div>
}

@if (Model.HomeNews.Pages.Count > 0)







{
<div class="news">

	<div class="container-fluid wow fadeInUp animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">

		<div class="row">
			<div class="col-md-12">
					<div class="titlesmall text-center"><span>@Model.HomeNews.Name</span></div>

					<div class="title text-center">	@Html.Raw(Model.HomeNews.ShortDescription)</div>


				<ul>


						@foreach (var item in Model.HomeNews.Pages)
						{


							<li>
								<img alt="@item.FeaturedImageAltName" src="images/Pages/@item.FeaturedImageUrl" class="img-responsive">
								<div class="date">@item.DateInput.Value.ToString("dd")<br>@item.DateInput.Value.ToString("MMM")</div>
								@* <div class="title-small"><span>Acc-fine</span></div> *@
								<div class="title-1">
									@item.Title
								</div>
								<div class="text">
									@Html.Raw(item.ShortDescription)
								</div>
								<div><a href="@item.LinkUrl" class="btn-header btn-more">@Localizer["Read More"]</a></div>
							</li>

							



						}
					


				</ul>




			</div>
		</div>
	</div>
</div>

}
